<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Download Document</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>

<body class="m-0 p-0">

    <div class="h-screen w-screen flex flex-col items-center justify-center gap-4">
        <h1>Thank you for choosing WebProject!</h1>
        <h2>Click the button below to get PDF</h2>
        <button id="downloadButton" class="border-2 border-black">Download Now</button>
    </div>


    <script type="text/javascript">
        // To handle download
        document.addEventListener("DOMContentLoaded", function () {
            const filePath = "<%= filepath %>";
            const downloadButton = document.getElementById('downloadButton');

            // Function to handle the download
            function downloadFile() {
                window.location.href = filePath;
            }

            downloadButton.addEventListener('click', downloadFile);
        });
    </script>

</body>

</html>